.login-wrapper {
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
