.signup-wrapper {
  padding: 44px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
